/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #000; /* 设置全局背景为黑色，防止缝隙透出白色 */
}
